<link rel="shortcut icon" href="{%  call path path='public/assets/admin/images/favicon.ico'  %}"><!-- jvectormap -->
    <link href="{%  call path path='public/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"><!-- App css -->
    <link href="{%  call path path='public/assets/admin/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%  call path path='public/assets/admin/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{%  call path path='public/assets/admin/css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%  call path path='public/assets/admin/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%  call path path='public/assets/admin/css/app.min.css' %}" rel="stylesheet" type="text/css">