<script src="{%  call path path='public/assets/admin/js/jquery.min.js' %}"></script>
<script src="{%  call path path='public/assets/admin/js/bootstrap.bundle.min.js' %}"></script>
<script src="{%  call path path='public/assets/admin/js/metismenu.min.js' %}"></script>
<script src="{%  call path path='public/assets/admin/js/waves.js' %}"></script>
<script src="{%  call path path='public/assets/admin/js/feather.min.js' %}"></script>
<script src="{%  call path path='public/assets/admin/js/jquery.slimscroll.min.js' %}"></script>
<script src="{%  call path path='public/assets/admin/js/jquery-ui.min.js' %}"></script>
<script src="{%  call path path='public/assets/plugins/moment/moment.js'%}"></script>
<script src="{%  call path path='public/assets/plugins/apexcharts/apexcharts.min.js' %}"></script>
<script src="{%  call path path='public/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{%  call path path='public/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{%  call path path='public/assets/plugins/chartjs/chart.min.js' %}"></script>
<script src="{%  call path path='public/assets/plugins/chartjs/roundedBar.min.js' %}"></script>
<script src="{%  call path path='public/assets/plugins/lightpick/lightpick.js' %}"></script>
<script src="{%  call path path='public/assets/admin/pages/jquery.sales_dashboard.init.js' %}"></script>
<script src="{%  call path path='public/assets/admin/js/app.js' %}"></script>