<div class="left-sidenav">
    <ul class="metismenu left-sidenav-menu">
        <li><a href="{% call url 'admin' %}"><i class="ti-bar-chart"></i><span>Dashboard</span></a>
           
        </li>
        <li><a href="javascript: void(0);"><i class="ti-server"></i><span>Pages</span><span class="menu-arrow"><i
                class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                <li class="nav-item"><a class="nav-link" href="{% call url 'admin/page' %}"><i class="ti-control-record"></i>Chat</a>
                </li>
            </ul>

                
               
            
        </li>
        <li><a href="javascript: void(0);"><i class="ti-crown"></i><span>Blog</span><span class="menu-arrow"><i
                class="mdi mdi-chevron-right"></i></span></a>
            
                <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="{% call url 'admin/blog' %}"><i class="ti-control-record"></i>
                    List <span class="menu-arrow left-has-menu"></a>
                    
                </li>

                <li>
                    <a href="{% call url 'admin/addblog' %}"><i class="ti-control-record"></i>
                    Add <span class="menu-arrow left-has-menu"></a>
                    
                </li>
                </ul>
          
        </li>
        <li><a href="javascript: void(0);"><i class="ti-crown"></i><span>Menu</span><span class="menu-arrow"><i
                class="mdi mdi-chevron-right"></i></span></a>
            
                <ul class="nav-second-level" aria-expanded="false">
                <li>
                    <a href="{% call url 'admin/menu' %}"><i class="ti-control-record"></i>
                    List <span class="menu-arrow left-has-menu"></a>
                    
                </li> 

                <li>
                    <a href="{% call url 'admin/addmenu' %}"><i class="ti-control-record"></i>
                    Add <span class="menu-arrow left-has-menu"></a>
                    
                </li>
                </ul>
          
        </li>
        <li><a href="javascript: void(0);"><i class="ti-layers-alt"></i><span>Request</span><span class="menu-arrow"><i
                class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">
                <li class="nav-item"><a class="nav-link" href="../pages/pages-profile.html"><i
                        class="ti-control-record"></i>Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-timeline.html"><i
                        class="ti-control-record"></i>Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-treeview.html"><i
                        class="ti-control-record"></i>Treeview</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-starter.html"><i
                        class="ti-control-record"></i>Starter Page</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-pricing.html"><i
                        class="ti-control-record"></i>Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/pages-gallery.html"><i
                        class="ti-control-record"></i>Gallery</a></li>
            </ul>
        </li>
        <li><a href="javascript: void(0);"><i class="ti-lock"></i><span>Admin</span><span class="menu-arrow"><i
                class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-login.html"><i
                        class="ti-control-record"></i>List</a></li>
                <li class="nav-item"><a class="nav-link" href="../authentication/auth-register.html"><i
                        class="ti-control-record"></i>Add</a></li>
                
            </ul>
        </li>
        <li><a href="javascript: void(0);"><i class="ti-lock"></i><span>Logout</span><span class="menu-arrow"></span></a>
        
    </li>
    </ul>
</div><!-- end left-sidenav-->