<link href="{% call path path='public/assets'  %}/css/normalize.css" rel="stylesheet" type="text/css"/>
<link href="{% call path path='public/assets'  %}/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="{% call path path='public/assets'  %}/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="{% call path path='public/assets' %}/fonts/google_roboto/google_roboto.css" rel="stylesheet" type="text/css"/>
<link href="{% call path path='public/assets'  %}/fonts/Gilroy/Gilroy.css" rel="stylesheet" type="text/css"/>
<link href="{% call path path='public/assets'  %}/css/main.css" rel="stylesheet" type="text/css"/>
<link href="{% call path path='public/assets'  %}/components/devicon-master/devicon.css" rel="stylesheet" type="text/css"/>
<link href="{% call path path='public/assets'  %}/components/devicon-master/devicon-colors.css" rel="stylesheet" type="text/css"/>
