<script src="{% call path path='public/assets' link='True' %}/admin/js/jquery.min.js"></script>
        
 <link rel="stylesheet" href="{% call path path='public/assets'  link='True' %}/plugins/prism/prism.css">

<script src="{% call path path='public/assets' link='True' %}/js/bootstrap.min.js" type="text/javascript"></script>

<script src="{% call path path='public/assets'  link='True' %}/plugins/prism/prism.js"></script>
<script src="{% call path path='public/assets' link='True' %}/js/script.js" type="text/javascript"></script>

