<!DOCTYPE html>
<html>
    <head>
        <title>BETACODINGS - </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/normalize.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/fonts/google_roboto/google_roboto.css" rel="stylesheet" type="text/css"/>
        <link href="assets/fonts/Gilroy/Gilroy.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/main.css" rel="stylesheet" type="text/css"/>
        <link href="components/devicon-master/devicon.css" rel="stylesheet" type="text/css"/>
        <link href="components/devicon-master/devicon-colors.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <!-- NAVIGATION AREA -->        
        <div class="container-fluid bd-bottom" id="navigation__area">
            <div class="container">
                <div class="row clearfix">
                    <nav>
                        <div class="logo-brand"><img src="assets/img/betacodings.jpg" /></div>
                        <div class="menus">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Work</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#" class="hire__btn">Request a quote</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>  
        <!-- ENDING NAVIGATION AREA -->
        
        
        
        <footer class="footer-classic">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="copyright">2019 &copy; copyright All right reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="assets/js/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            /* * SMOOTH SCROLLING*/
            $('a[href*="#"]').on('click', function (e) {
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: $($(this).attr('href')).offset().top
                }, 1300, 'linear');
            });
        </script>
        <script type="text/javascript">
            /* * SCROLL TO TOP */
            var btn = $('#to__top');
            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    btn.addClass('show');
                } else {
                    btn.removeClass('show');
                }
            });
            btn.on('click', function (e) {
                e.preventDefault();
                $('html, body').animate({scrollTop: 0}, '300');
            });
        </script>
        <script type="text/javascript">
            /* * NAVIGATION ACTIVE CLASS */
            $(".topNavig li").on("click", function (e) {
                $(".topNavig li").removeClass("active");
                $(this).addClass("active");
            });
        </script>
    </body>
</html>